@use "../general/general" as *;
.access-request {
  padding: 24px 16px;
  background: $white;
  border: 1px solid $tarakota__dark;
  color: $black;

  &__container {
    max-width: 600px;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__intro {
    font-size: 0.95rem;
    opacity: 0.8;
  }

  &__alert {
    padding: 12px 14px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 0.9rem;

    &--success {
      background: $sucesse;
      border: 1px solid rgba(0, 200, 100, 0.4);
    }

    &--error {
      background: $error;
      border: 1px solid rgba(255, 60, 60, 0.4);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__info-icon {
    width: 18px;
    height: 18px;
    opacity: 0.6;
  }

  &__input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid $tarakota__dark;
    background: $background;
    outline: none;
    font-size: 0.95rem;
    transition: 0.2s ease;

    &:focus {
      border-color: $fille-ariane; // ton doré
      box-shadow: 0 0 0 3px rgba(245, 197, 66, 0.15);
    }

    &--textarea {
      resize: vertical;
      min-height: 120px;
    }
  }

  &__actions {
    margin-top: 8px;
  }

  &__button {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: $tarakota__dark; // doré
    color: $white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-1px);
      background:$tarakota__extra__dark;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

/* 📱 TABLETTE */
@media (min-width: 768px) {
  .access-request {
    padding: 40px 24px;

    &__title {
      font-size: 2rem;
    }

    &__form {
      gap: 18px;
    }
  }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
  .access-request {
    &__container {
      max-width: 1000px;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__input {
      font-size: 1rem;
    }

    &__button {
      width: auto;
      padding: 1rem  2rem;
      margin: 0% auto;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}