@use "../general/general" as *;
.documents{

  &__title{
    display: block;
    color: $black;
    text-align: center;
    border: 1px solid $tarakota__dark;
    font-size: 3rem;
    margin: 2.5rem auto;
    width: 100%;
    font-weight: 700;
    padding: 1rem 0;
  }
}

.documents__intro{
  margin: 5% 0;
  &__title{
    display: inline-block;
    width: 100%;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;

    border: 2px solid #c75b2c;
    padding: 1rem;
    margin: 2rem 0;
  }
  &__contenu{
    font-size: 1.25rem;
    margin-bottom: 2.5%;
  }  &__contenu p:first-of-type{
    margin-bottom: 2%;
  }
  &__contenu li {
    list-style: none;
    margin-bottom: 1%;
    margin-left: 5%;

  }
    &__contenu li::before {
      content: "★"; /* Remplacez par le symbole ou l'emoji de votre choix */
      color: $tarakota__dark; /* Change la couleur de la puce */
      font-weight: bold;
      display: inline-block;
      width: 1.2em; /* Gère l'espace après la puce */
      margin-left: -1.2em;
    }

  &__contenu strong{
    font-weight: 700;
  }
}
.documents__category{
  margin: 5% auto;
  &__title{
    font-size: 2rem;
    margin-bottom: 2.5%;
  }
  &__listes{
    border: 1px solid $tarakota__dark;
    border-radius: 1rem;
    padding: 1rem;
  }
  &__liste{
  }
  &__link{
    margin: 1.5%;
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover{
      color: $tarakota__dark;
    }

  }
  &__link p{
    font-size: 1.25rem;
    display: inline-block;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .documents {

    &__title {

    }
  }
}

@media screen and (min-width: 1024px) {
  .documents {

    &__title {

    }
  }
}