@use "../general/general" as *;

.enseignement-header__title {
  display: inline-block;
  width: auto;
  text-align: center;

  font-size: 1.75rem;
  font-weight: 700;

  border: 2px solid #c75b2c;
  padding: 1rem;
  margin: 2rem 0;
}

.enseignement {

  &__title {
    display: block;
    color: $black;
    text-align: center;
    border: 1px solid $tarakota__dark;
    font-size: 2rem;
    margin: 2.5rem auto;
    width: 100%;
    font-weight: 700;
    padding: 1rem 0;
  }

  p,
  div {
    margin-bottom: 1.5rem;
    line-height: 1.8;
  }
  .enseignant-page__able ul{
    margin-left: 5%;
  }
  ul {
    margin: 1rem 0;

    li {
      margin-bottom: .75rem;
      line-height: 1.8;
    }
  }

  a {
    text-decoration: none;

    display: inline-block;
    padding: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
.enseignant-page__able p:first-of-type{
  font-size: 1.25rem;
}

.redirections__liste{
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  gap: 1.25rem;
  width: 100%;
  margin: 5% auto;
}

.redirections {
  //border: 1px solid $tarakota__dark;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: $black;
  }
}

.redirections:hover{
  .redirections__title{
  color: $white;

  }
  background-color: $tarakota__extra__dark;
  color: $white;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}

.redirections h3:hover{

}
/* ==========================
   TABLETTE
   min-width: 768px
========================== */

@media (min-width: 768px) {

  .enseignement-header__title {
    font-size: 2.25rem;
    padding: 1.25rem;
  }

  .enseignement {

    &__title {

    }

    p,
    div,
    li {
      font-size: 1.25rem;
      li::before{
        content: "★"; /* Remplacez par le symbole ou l'emoji de votre choix */
        color: $tarakota__dark; /* Change la couleur de la puce */
        font-weight: bold;
        display: inline-block;
        width: 1.2em; /* Gère l'espace après la puce */
        margin-left: -1.2em;
      }
    }

  }
  .redirections__liste{
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .redirections {
    background-color: $bg-container;
    box-shadow: 0px 0px 20px 5px $bg-container;
    -webkit-box-shadow: 0px 0px 20px 5px $bg-container;

    &__title {
    }
  }
}



@media (min-width: 1024px) {
  .enseignement-header__title{
    display: inline-block;
    font-size: $big__semi__title;
    border: 2px solid #c75b2c;
    margin: 2.5% 0;
  }
    .enseignement{
      &__title{

      }
    }
  .enseignement div, .enseignement p{
    margin: 2.5% auto;
  }
  .enseignement ul:first-of-type {

    //margin-left: 5%;
    margin-top: 1%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5em; // Ajustez la hauteur pour centrer avec le texte
      width: 8px;
      height: 8px;
      background-image: url("../../icons/arrow.svg");
    }
  }
  .redirections__liste{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .redirections{
    margin-bottom: 5%;

    &__title{
      font-size: 2rem;
      font-weight: 600;
      margin: 2.5% 0;
    }
  }
}