@use "../general/general" as *;
@media (min-width: 1024px) {
  .enseignement-header__title{
    display: inline-block;
    font-size: $big__semi__title;
    border: 2px solid #c75b2c;
    margin: 2.5% 0;
  }
    .enseignement{
      &__title{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        border: 2px solid #c75b2c;
        display: block;
        margin: 2.5% 0;
      }
    }
  .enseignement div, .enseignement p{
    margin: 2.5% auto;
  }
  .enseignement ul {
    list-style: none;
    list-style-type: circle;
    margin-left: 5%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5em; // Ajustez la hauteur pour centrer avec le texte
      width: 8px;
      height: 8px;
      background-image: url("../../icons/arrow.svg");
    }
  }
  .redirections{
    margin-bottom: 5%;

    &__title{
      font-size: 2rem;
      font-weight: 600;
      margin: 2.5% auto;
    }
  }
}