
@use "../general/general" as *;

@media (min-width: 1024px) {
  .faq__contenu{
    &__title{
      font-size: 3rem;
      text-transform: uppercase;
      display: inline-block;
      width: auto;
      margin: 2% 0;
      border: 2px solid $tarakota__dark;
      padding: .8rem 1.5rem;
      font-weight: 600;
    }
  }

  .faq__contenu__explication{
    fill-size: 1rem;
    margin: 2.5% 0;
  }

  // faq.scss

  .faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .faq-item {
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}