@use "../general/general" as *;
//falc
.mode-classique {
  background: #fff;
  color: #222;

  h1,
  h2,
  h3 {
    color: #1a1a1a;
  }

  section {
    background: #f8f8f8;
    padding: 1.25rem;
  }
}

// Parents
.parents {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__contenu {

    gap: 1.5rem;
  }

 /* .falc {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    background-color: $tarakota__dark;
    color: $white;
    padding: .75rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    align-self: flex-end;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
  .falc:hover {
    background-color: $tarakota__extra__dark;
  }*/

  &__title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    color: $black;
  }

  &__ecole,
  &__accompagnement,
  &__parler {
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 10px 25px $shadow;
    color: $white;
  }

  &__ecole__title,
  &__accompagnement__title,
  &__parler__title {
    text-align: center;
    color: $black;
    border: 1px solid $tarakota__dark;
    padding: .75rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__ecole__explication,
  &__accompagnement__explication,
  &__parler__contenu {
    background-color: $fille-ariane;
    color: $white;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1.8;

    p {
      margin-bottom: 1rem;
    }

    ul {
      margin-top: 1rem;
      padding-left: 1.5rem;

      li {
        margin-bottom: .75rem;
      }
    }

    a {
      color: #e46f11;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


@media (min-width: 768px) {
  .parents {
    padding: 3rem 2rem;

    &__title {
      font-size: 2.5rem;
    }

    &__ecole,
    &__accompagnement,
    &__parler {
      padding: 2rem;
    }

    &__ecole__title,
    &__accompagnement__title,
    &__parler__title {
      font-size: 1.8rem;
    }

    &__ecole__explication,
    &__accompagnement__explication,
    &__parler__contenu {
      padding: 2rem;
      font-size: 1.05rem;
    }
  }
}

/* ==========================
   DESKTOP
   min-width: 1024px
========================== */

@media (min-width: 1024px) {
  .parents {
    padding: 4rem 0;

    &__title {
      font-size: 3rem;
    }

    &__contenu {
      gap: 2rem;
    }

    &__ecole,
    &__accompagnement,
    &__parler {
      padding: 3rem;
    }

    &__ecole__title,
    &__accompagnement__title,
    &__parler__title {
      font-size: 2rem;
    }

    &__ecole__explication,
    &__accompagnement__explication,
    &__parler__contenu {
      padding: 3rem;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}