@use "../general/general" as *;
//falc
.mode-classique {
  background: #ffffff;
  color: #222;

  h1, h2, h3 {
    color: #1a1a1a;
  }

  section {
    background: #f8f8f8;
    padding: 20px;
  }
}

.falc {
  display: inline-flex;
  align-items: center;
  gap: .5rem;

  background-color: $tarakota__dark;
  color: $white;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: auto;
  text-decoration: none;

  &__icon {
    width: 24px;
    height: 24px;
  }
}
//parent
.parents {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__title {
    text-align: left;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 800;
    color: $black;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  &__ecole,
  &__accompagnement,
  &__parler {
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 10px 25px $shadow;
    color: $white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
    }
  }

  &__ecole__title,
  &__accompagnement__title,
  &__parler__title {
    display: block;
    color: $black;
    border: 1px solid $tarakota__dark;
    font-size: clamp(1.4rem, 2vw, 2rem);
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.3;
  }

  &__ecole__explication,
  &__accompagnement__explication,
  &__parler__contenu {
    background-color: $fille-ariane;
    color: #4a4a4a;
    font-size: 1rem;
    line-height: 1.9;
    font-weight: 400;
    padding: 5rem;

    p {
      margin-bottom: 1rem;
    }

    strong {
      color: #b45309;
    }

    ul {
      padding-left: 1.5rem;
      margin-top: 1rem;
      list-style: disc;
      margin-left: 5%;

      li {
        margin-bottom: 0.7rem;
      }
    }

    a {
      color: #e46f11;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: #a84300;
        text-decoration: underline;
      }
    }
  }
}
