# Ignore tout
*

# Autoriser fichiers utiles
!.gitignore
!readme.md
!package.json
!vite.config.js
!postcss.config.js

# Autoriser wp-content
!wp-content/

# Bloquer tout dedans
wp-content/*

# Autoriser themes
!wp-content/themes/

# Bloquer tous les themes
wp-content/themes/*

!wp-content/themes/PLAI/
!wp-content/themes/PLAI/**

# Ignorer node_modules
node_modules/
wp-content/themes/PLAI/node_modules/

# Ignorer build
wp-content/themes/PLAI/public/