$background: #e6dfdb;
$tarakota__dark: #C76A3E;
$tarakota__extra__dark: #50250e;
$red: #ff0000;
$fille-ariane: #F09E6F;
$white: #ffffff;
$black: #000000;

// VARIABLES
$bg-section: #dcd6d2;
$bg-container: #e6b992;
$card-bg: #eeeeee;
$text: #111;
$accent: #c65a2e;
$shadow : rgba(0, 0, 0, 0.18);

$gray__extra__light:  #F9FAFB;
$gray__middel: #888888;

$big__title:5rem;
$big__semi__title:3rem;
$text:1rem;


$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;

$breakpoint-mobile: 48rem;    // 768px
$breakpoint-tablet: 64rem;    // 1024px
$breakpoint-desktop: 80rem;   // 1280px

$transition-default: all 0.3s ease;
$transition: 0.3s ease;


.sro, .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.main{
  margin: 5%;
}