$background: #e6dfdb;
$tarakota__dark: #C76A3E;
$white: #ffffff;
$black: #000000;

// VARIABLES
$bg-section: #dcd6d2;
$bg-container: #e6b992;
$card-bg: #eeeeee;
$text: #111;
$accent: #c65a2e;

.sro, .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.main{
  margin: 5%;
}