@use 'general' as *;

/* =========================================
   MOBILE FIRST
   MENU PRIVATE
========================================= */

/* Navigation principale */
.header__nav {

  width: auto;
  background-color: $black;
  border-bottom: 3px solid $tarakota__dark;
  margin: 5% auto;
}

/* Menu */
.menu-private {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;

  list-style: none;

  margin: 0;
  padding: 1rem;
}

/* Élément du menu */
.menu-private li {
  width: 100%;
}

/* Liens */
.menu-private li a {
  text-transform: uppercase;
  display: block;

  padding: 0.9rem 1rem;

  text-decoration: none;


  color: $white;

  border-radius: 10px;

  font-size: 1rem;
  font-weight: 600;

  text-align: center;

  transition: 0.3s ease;
}

/* Hover */
.menu-private li a:hover {
  background-color: $tarakota__dark;
  color: $black;
}


/* =========================================
   TABLETTE
========================================= */

@media screen and (min-width: 768px) {

  .menu-private {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 1rem;
  }

  .menu-private li {
    width: auto;
  }

  .menu-private li a {
    padding: 0.8rem 1.2rem;
  }

}

/* =========================================
   ORDINATEUR
========================================= */

@media screen and (min-width: 1024px) {

  .header__nav {
    padding: 0 2rem;
  }

  .menu-private {
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .menu-prive li a {
    font-size: 1.05rem;

    padding: 0.9rem 1.4rem;

    border-radius: 12px;
  }

}
